@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: black;
  color: white;
}

body {
  font-family: "Roboto";
  background-color: #f2f2f2;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* Header */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 55px;
  background-color: white;
}

.content {
  display: flex;
  gap: 46px;
}

.header-logo {
  width: 120px;
  height: 33px;
  margin-left: 150px;
}

.data {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-link {
  font-weight: bold;
  color: #9e9aa8;
}

.sign {
  display: flex;
  align-items: center;
  gap: 37px;
  margin-right: 150px;
}

.sign-up {
  background-color: #2bd0d0;
  border-radius: 28px;
  padding: 9px 23px;
  color: white;
}

/* Hero */

.hero {
  background-color: white;
  height: 800px;
  overflow: hidden;
}

.hero-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
  margin-right: 0;
}

.hero-title {
  font-size: 80px;
  font-weight: bold;
  margin-top: 139px;
  margin-left: 135px;
  line-height: 90px;
  margin-bottom: 5px;
  letter-spacing: -2px;
  width: 565px;
}

.hero-text {
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #9e9aa8;
  margin-left: 135px;
  font-weight: 500;
}

.blue-button {
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  color: white;
  background-color: #2bd0d0;
  padding: 14px 40px;
  margin-left: 135px;
  margin-top: 38px;
  border-radius: 28px;
}

.hero-img {
  position: relative;
  display: block;
  width: 733px;
  height: auto;
  margin-top: 166px;
  margin-left: 106px;
}

/* Statistics */

.info-title {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  font-weight: bold;
  width: 540px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 204px;
  margin-bottom: 18px;
}

.info-text {
  font-size: 18px;
  font-weight: medium;
  line-height: 32px;
  letter-spacing: 0.12px;
  width: 540px;
  color: #9e9aa8;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}

.advertisement {
  display: flex;
  gap: 30px;
  margin-top: 100px;
  margin-left: 165px;
  margin-right: 165px;
  background-image: url(/imgaes/rectangle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1110px 8px;
  z-index: 1;
}

.dominance {
  width: 350px;
  height: 267px;
  background-color: white;
}

.second {
  margin-top: 44px;
}

.third {
  margin-top: 88px;
}

.statistics-img {
  width: 40px;
  height: 40px;
}

.circle {
  position: relative;
  top: -44px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: #3a3054;
  border-radius: 50%;
  padding: 24px;
  margin-left: 32px;
}

.statistics-title {
  font-size: 22px;
  font-weight: 700px;
  margin-left: 32px;
  margin-bottom: 12px;
}

.statistics-text {
  font-size: 15px;
  font-weight: medium;
  line-height: 26px;
  width: 286px;
  color: #9e9aa8;
  margin-left: 32px;
}

/* Cta */

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.cta-content {
  text-align: center;
  background-image: url(/imgaes/cta-img.svg);
  height: 250px;
  width: 1440px;
  display: inline-block;
  flex-direction: column;
}

.cta-title {
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin-top: 57px;
  margin-bottom: 32px;
}

.cta-button {
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  color: white;
  background-color: #2bd0d0;
  padding: 14px 40px;
  border-radius: 28px;
}

/* Footer */

.footer {
  background-color: black;
  height: 310px;
}

.footer-content {
  display: flex;
}

.footer-logo {
  width: 120px;
  height: 33px;
  margin-top: 71px;
  margin-left: 163px;
  margin-right: 262px;
  fill: white;
}

.footer-links {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 72px;
  gap: 100px;
  margin-right: 101px;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.footer-link {
  white-space: nowrap;
  font-size: 15px;
  color: #9e9aa8;
  margin-top: 22px;
  margin-bottom: 10px;
}

.icons {
  display: flex;
  gap: 24px;
  margin-top: 73px;
}

/* Responsive */

@media (max-width: 3000px) {
  .burger-menu {
    display: none;
  }

  .nd-burger-menu {
    display: none;
  }
}

@media (max-width: 1435px) {
  .hero {
    height: 1450px;
  }

  .hero-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero-title {
    font-size: 98px;
    width: 645px;
    margin-bottom: 25px;
  }

  .hero-text {
    font-size: 34px;
  }

  .blue-button {
    font-size: 35px;
    border-radius: 35px;
  }

  .hero-img {
    width: 150%;
    height: 800px;
    margin-left: 340px;
    margin-top: 40px;
  }
}

@media (max-width: 1360px) {
  .footer-logo {
    margin-right: 100px;
  }
}

@media (max-width: 1315px) {
  .advertisement {
    margin-left: 100px;
  }
}

@media (max-width: 1205px) {
  .info-content {
    margin-top: -100px;
  }

  .advertisement {
    margin-left: 15px;
  }
}

@media (max-width: 1150px) {
  .footer-logo {
    margin-left: 50px;
    margin-right: 55px;
  }

  .footer-links {
    gap: 85px;
  }
}

@media (max-width: 970px) {
  .footer {
    height: 950px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-links {
    text-align: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
  }
}

@media (max-width: 1080px) {
  .advertisement {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/imgaes/rectangle.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    width: 8px;
    height: 1014px;
    margin-left: auto;
    margin-right: auto;
  }

  .second {
    margin-top: 92px;
  }
}

@media (max-width: 1020px) {
  .burger-menu {
    display: block;
    margin-left: 30px;
  }

  .header-logo {
    margin-left: 40px;
  }

  .data {
    display: none;
  }

  .sign {
    margin-right: 60px;
  }

  .hero {
    height: 1250px;
  }

  .hero-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero-title {
    font-size: 80px;
    margin-top: 30px;
    margin-bottom: 25px;
  }

  .hero-text {
    font-size: 24px;
  }

  .blue-button {
    font-size: 27px;
    border-radius: 35px;
  }

  .hero-img {
    width: 110%;
    height: 800px;
    margin-left: 340px;
    margin-top: 25px;
  }
}

@media (max-width: 900px) {
  .hero {
    height: 1250px;
  }

  .hero-img {
    width: 120%;
    margin-top: 0;
    margin-left: 135px;
    margin-bottom: 0;
  }
}

@media (max-width: 700px) {
  .hero-img {
    margin-top: -90px;
    margin-bottom: -80px;
  }
}

@media (max-width: 660px) {
  .burger-menu {
    display: none;
  }

  .sign {
    display: none;
  }

  .nd-burger-menu {
    display: block;
    margin-right: 30px;
  }

  .hero {
    height: 1000px;
  }

  .hero-data {
    text-align: center;
  }

  .hero-title {
    font-size: 60px;
    margin-top: -30px;
    line-height: 75px;
    margin-right: 125px;
  }

  .hero-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    width: 512px;
    margin-left: 206px;
  }

  .blue-button {
    font-size: 32px;
    margin-left: 46px;
  }

  .advertisement {
    margin-left: auto;
    margin-right: auto;
  }

  .dominance {
    width: 327px;
  }

  .circle {
    margin-left: 120px;
  }

  .cta-title {
    font-size: 24px;
  }

  .cta-content {
    height: 200px;
  }

  .cta-button {
    font-size: 20px;
    padding: 12px 18px;
  }
}

@media (max-width: 560px) {
  .hero {
    height: 730px;
  }

  .hero-title {
    font-size: 35px;
    line-height: 45px;
    margin-top: -90px;
  }

  .hero-text {
    font-size: 15px;
    line-height: 20px;
    width: 300px;
    margin-left: 306px;
  }

  .blue-button {
    font-size: 15px;
    margin-left: 15px;
  }

  .hero-img {
    margin-top: -160px;
  }
}

@media (max-width: 520px) {
  .advertisement {
    margin-left: 270px;
    margin-right: 270px;
  }
}

@media (max-width: 444px) {
  .header-logo {
    width: 80px;
    height: 22px;
    margin-left: 0;
  }

  .nd-burger-menu {
    width: 22px;
    height: 22px;
    margin-right: 0;
  }

  .hero {
    height: 500px;
  }

  .hero-title {
    font-size: 28px;
    line-height: 35px;
  }

  .hero-text {
    font-size: 12px;
    margin-top: -20px;
    line-height: 15px;
    margin-bottom: -25px;
  }

  .blue-button {
    font-size: 14px;
    padding: 6px 18px;
  }

  .hero-img {
    width: 120%;
    margin-top: -240px;
    margin-bottom: -140px;
  }
}

@media (max-width: 350px) {
  .hero-img {
    width: 130%;
    margin-left: 60px;
    margin-bottom: -170px;
  }
}
